<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73416848182-bghup9fau7veos2qo6aguqhcs5pjr004.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73416848182-bghup9fau7veos2qo6aguqhcs5pjr004</string>
	<key>API_KEY</key>
	<string>AIzaSyBDuPGPiyF99FVkqexadF2DbheKvZJhgoo</string>
	<key>GCM_SENDER_ID</key>
	<string>73416848182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.andrewelliott.ontheline</string>
	<key>PROJECT_ID</key>
	<string>on-the-l-ine</string>
	<key>STORAGE_BUCKET</key>
	<string>on-the-l-ine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73416848182:ios:6f34125ed843e02e8cf997</string>
</dict>
</plist>